In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url="https://www.flipkart.com/search?q=mobile+5g&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&as-pos=1&as-type=RECENT&suggestionId=mobile+5g%7CMobiles&requestId=cc922b63-9981-43c4-9b2f-4a6dcf0fdff9&as-searchtext=mobile%205g"

In [3]:
response=requests.get(url)

In [4]:
response.status_code

200

In [5]:
soup=BeautifulSoup(response.content,'html.parser') #'lxml'

In [6]:
titles=soup.find_all('div',class_='KzDlHZ')
titles[2].text

'Apple iPhone 15 (Black, 128 GB)'

In [7]:
rating=soup.find_all('div',class_='XQDdHH')

In [8]:
rating[2].text

'4.6'

In [9]:
reviews=soup.find_all('span',class_='Wphh3N')

In [10]:
reviews[2].text

'2,30,906 Ratings\xa0&\xa08,294 Reviews'

In [11]:
prices=soup.find_all('div',class_="Nx9bqj _4b5DiR")

In [12]:
prices[2].text

'₹59,999'

In [13]:
mt=[]
mra=[]
mre=[]
mp=[]

In [14]:
for title,rat,rev,pri in zip(titles,rating,reviews,prices):
    mt.append(title.text)
    mra.append(rat.text)
    mre.append(rev.text)
    mp.append(pri.text)
print(mt)

['SAMSUNG Galaxy A14 5G (Dark Red, 128 GB)', 'SAMSUNG Galaxy A14 5G (Light Green, 128 GB)', 'Apple iPhone 15 (Black, 128 GB)', 'Apple iPhone 15 (Green, 128 GB)', 'POCO M7 Pro 5G (Olive Twilight, 128 GB)', 'POCO M7 Pro 5G (Lunar Dust, 256 GB)', 'Apple iPhone 15 Plus (Black, 128 GB)', 'POCO M6 5G (Orion Blue, 64 GB)', 'Motorola G85 5G (Olive Green, 128 GB)', 'Apple iPhone 15 Plus (Green, 128 GB)', 'SAMSUNG Galaxy A14 5G (Black, 128 GB)', 'Infinix GT 20 Pro (Mecha Silver, 256 GB)', 'SAMSUNG Galaxy S23 5G (Cream, 256 GB)', 'vivo T3 Lite 5G (Majestic Black, 128 GB)', 'Motorola G85 5G (Cobalt Blue, 128 GB)', 'REDMI 13C 5G (Starlight Black, 128 GB)', 'Infinix Note 40X 5G (Palm Blue, 256 GB)', 'SAMSUNG Galaxy S23 5G (Cream, 128 GB)', 'Motorola Edge 50 Fusion (Marshmallow Blue, 256 GB)', 'vivo T3 Lite 5G (Majestic Black, 128 GB)', 'POCO M6 Plus 5G (Ice Silver, 128 GB)', 'Infinix Note 40 Pro 5G (Gold, 256 GB)', 'OPPO K12x 5G with 45W SUPERVOOC Charger In-The-Box (Feather Pink, 128 GB)', 'Apple iPhone 15 Plus (Pink, 128 GB)']

In [15]:
dataset=pd.DataFrame()
dataset['Titles']=mt
dataset['Rating']=mra
dataset['Reviews']=mre
dataset['prices']=mp

In [16]:
dataset.head()

,Titles,Rating,Reviews,prices
0,"SAMSUNG Galaxy A14 5G (Dark Red, 128 GB)",4.2,"63,583 Ratings & 3,046 Reviews","₹10,999"
1,"SAMSUNG Galaxy A14 5G (Light Green, 128 GB)",4.2,"63,583 Ratings & 3,046 Reviews","₹10,999"
2,"Apple iPhone 15 (Black, 128 GB)",4.6,"2,30,906 Ratings & 8,294 Reviews","₹59,999"
3,"Apple iPhone 15 (Green, 128 GB)",4.6,"2,30,906 Ratings & 8,294 Reviews","₹58,999"
4,"POCO M7 Pro 5G (Olive Twilight, 128 GB)",4.4,407 Ratings & 121 Reviews,"₹14,999"

In [17]:
dataset.to_csv('mobiles_info.csv')

In [18]:
df=pd.read_csv('mobiles_info.csv')

In [19]:
df.head()

,Unnamed: 0,Titles,Rating,Reviews,prices
0,0,"SAMSUNG Galaxy A14 5G (Dark Red, 128 GB)",4.2,"63,583 Ratings & 3,046 Reviews","₹10,999"
1,1,"SAMSUNG Galaxy A14 5G (Light Green, 128 GB)",4.2,"63,583 Ratings & 3,046 Reviews","₹10,999"
2,2,"Apple iPhone 15 (Black, 128 GB)",4.6,"2,30,906 Ratings & 8,294 Reviews","₹59,999"
3,3,"Apple iPhone 15 (Green, 128 GB)",4.6,"2,30,906 Ratings & 8,294 Reviews","₹58,999"
4,4,"POCO M7 Pro 5G (Olive Twilight, 128 GB)",4.4,407 Ratings & 121 Reviews,"₹14,999"

# dataset 2

In [21]:
import requests
from bs4 import BeautifulSoup

In [22]:
url="https://quotes.toscrape.com/"

In [23]:
response=requests.get(url)
response.status_code

200

In [24]:
soup=BeautifulSoup(response.content,'html.parser')

In [25]:
quotes=soup.find_all('span',class_='text')
quotes[1].text

'“It is our choices, Harry, that show what we truly are, far more than our abilities.”'

In [26]:
authors=soup.find_all('small',class_='author')
authors[1].text

'J.K. Rowling'

In [27]:
tags=soup.find_all('div',class_='tags')
tags[0]

<div class="tags">
            Tags:
            <meta class="keywords" content="change,deep-thoughts,thinking,world" itemprop="keywords"/>
<a class="tag" href="/tag/change/page/1/">change</a>
<a class="tag" href="/tag/deep-thoughts/page/1/">deep-thoughts</a>
<a class="tag" href="/tag/thinking/page/1/">thinking</a>
<a class="tag" href="/tag/world/page/1/">world</a>
</div>

In [28]:
total_tags=[]
for i in range(len(tags)):
    k=[]
    for j in tags[i].find_all('a',class_='tag'):
        k.append(j.text)
    total_tags.append(','.join(k))

In [29]:
total_tags[1]

'abilities,choices'

In [30]:
qt=[]
qa=[]
for quo,aut in zip(quotes,authors):
    qt.append(quo.text)
    qa.append(aut.text)

In [31]:
data=pd.DataFrame()
data['Quotes']=qt
data['Authors']=qa
data['Tags']=total_tags
data

,Quotes,Authors,Tags
0,“The world as we have created it is a process ...,Albert Einstein,"change,deep-thoughts,thinking,world"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"abilities,choices"
2,“There are only two ways to live your life. On...,Albert Einstein,"inspirational,life,live,miracle,miracles"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"aliteracy,books,classic,humor"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"be-yourself,inspirational"
5,“Try not to become a man of success. Rather be...,Albert Einstein,"adulthood,success,value"
6,“It is better to be hated for what you are tha...,André Gide,"life,love"
7,"“I have not failed. I've just found 10,000 way...",Thomas A. Edison,"edison,failure,inspirational,paraphrased"
8,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,misattributed-eleanor-roosevelt
9,"“A day without sunshine is like, you know, nig...",Steve Martin,"humor,obvious,simile"